.sortstyle {
    border: 1px solid #9EA0A5;
    width: 40px;
    padding: 4px 0px 0px 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sortstyle img{
    width: 30px;
    height: 25px;
}